In [1]:
import pandas as pd
import numpy as np

import pymysql
from sqlalchemy import create_engine

from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, ConfusionMatrixDisplay
from sklearn.metrics import classification_report, f1_score, cohen_kappa_score

import getpass  # To get the password without showing the input

In [2]:
password = getpass.getpass()

········

In [4]:
#'mysql+pymysql://database_user:'+password+'@ip/database_name'
connection_string = 'mysql+pymysql://root:'+password+'@localhost/sakila'
engine = create_engine(connection_string)
data = pd.read_sql_query('SELECT * FROM actor', engine)
data.head()

   actor_id first_name     last_name         last_update
0         1   PENELOPE       GUINESS 2006-02-15 04:34:33
1         2       NICK      WAHLBERG 2006-02-15 04:34:33
2         3         ED         CHASE 2006-02-15 04:34:33
3         4   JENNIFER         DAVIS 2006-02-15 04:34:33
4         5     JOHNNY  LOLLOBRIGIDA 2006-02-15 04:34:33

In [19]:
def rentals_month(engine, month, year):
    connection = engine.connect()

    query = f"""
        SELECT rental_id, rental_date, inventory_id, customer_id
        FROM rental
        WHERE MONTH(rental_date) = {month} AND YEAR(rental_date) = {year};
    """

    rental_data = pd.read_sql_query(query, connection)

    connection.close()

    return rental_data

database_url = 'mysql://root:Imrane1212!@localhost:3306/sakila'
engine = create_engine(database_url)

month = 3
year = 2023

result_df = rentals_month(engine, month, year)
print(result_df)

Empty DataFrame
Columns: [rental_id, rental_date, inventory_id, customer_id]
Index: []

In [20]:
def rental_count_month(rental_data, month, year):

    rental_counts = rental_data.groupby('customer_id')['rental_id'].count().reset_index()
    column_name = f'rentals_{month:02d}_{year}'
    rental_counts.rename(columns={'rental_id': column_name}, inplace=True)
    
    return rental_counts


selected_month = 5
selected_year = 2005

result_counts_df = rental_count_month(result_df, selected_month, selected_year)
print(result_counts_df)

Empty DataFrame
Columns: [customer_id, rentals_05_2005]
Index: []

In [23]:
def compare_rentals(data1, data2):
    merged_df = pd.merge(data1, data2, on='customer_id', how='outer')
    merged_df.fillna(0, inplace=True)
    merged_df['difference'] = merged_df.iloc[:, 1] - merged_df.iloc[:, 2]
    
    return merged_df

comparison_df = compare_rentals(result_data1, result_data2)
print(comparison_df)

#no data provided, just the function

NameError: name 'result_data1' is not defined